guidewire360-system-api/src/main/mule/guidewire-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="guidewire-sys-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="guidewire-sys-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="guidewire-sys-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="guidewire-sys-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\activites:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.claimid
	},
	"collection" : "Activity"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="b852c260-c554-4af3-9b7b-747a811d02a2" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="d57a6f55-b86f-4da6-aa8a-07db568e3ba3" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\activites:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="9878f25a-7d50-4f29-ba1f-be3cf6697418">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Activity"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="09cd3c14-e69b-41a6-b076-42f99d78afa8" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="0232b8d7-a012-4ae1-9f90-50c6ac4a5f99" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\activites:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="a08bfd87-0133-4756-bb8e-a25bd906f045">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "Activity"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="38c6a7c3-c022-4c1f-8a1f-0d24229ae366" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="6b2ed7bf-2831-4792-baba-4119453ade58" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\activitypattern:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "ActivityPattern"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="9c1c181b-fa4e-434b-a151-9d09b6b4c00a" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="e749cbf3-c42f-4dae-a10c-7a11db06ac7d" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\activitypattern:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "ActivityPattern"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="05264984-809a-422e-a71d-c750769e90f8" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="7fbcdc55-10dc-4326-8b4c-f798d24d17a7" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\activitypattern:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.claimid
	},
	"collection" : "ActivityPattern"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="86cd06a2-ae36-45e9-9598-07497310abe5" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="c37b14c0-3f82-4595-98b6-7b9ed94d6eeb" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\assignee:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "Assignee"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="22babfb8-c7ac-4427-80f2-0b55be4fd40d" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="bb06d83c-ef9c-4414-a678-d84e0a25d3b2" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\assignee:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Assignee"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="330602bb-df84-46a3-8d8f-c3a7b00e285b" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="fac311cc-2e83-400b-b28b-c50797e0e626" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\assignee:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.claimid
	},
	"collection" : "Assignee"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="1686592c-cb94-4879-941a-66ccfb390a16" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="be7161d9-2eed-48b4-943a-d2466b366f97" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\checks:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.claimid
	},
	"collection" : "Checks"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="a8c05f8e-f84a-4e91-8bac-eb8a09ef3a34" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="f5226fc3-bec6-4895-8f03-cfca430984f4" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\claims:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="da1e78fe-30a9-417f-97ef-5f8f3a3d16ce">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Policy"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="0d3364bf-f599-4886-863c-aef8f3901611" name="mongodb-implementationFlow" />
        <ee:transform doc:name="Transform Message" doc:id="d5e7767f-7813-4af4-8e14-d130f8eece1e">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="claimData"><![CDATA[%dw 2.0
output application/json
---
[
	
]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <foreach doc:name="For Each" doc:id="3fa07a0d-9146-492e-9998-a6bd45bec865" collection="#[payload]">
            <ee:transform doc:name="Transform Message" doc:id="e9ed0fe5-a305-437c-bd78-e04f19f9e6f7">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : payload.Policy_id
	},
	"collection" : "Claims"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <flow-ref doc:name="Flow Reference" doc:id="80946176-0fca-4459-8a49-e5738b34bdcd" name="mongodb-implementationFlow" />
            <ee:transform doc:name="Transform Message" doc:id="3a70cd90-ce18-404f-a45d-1822e04cde6a">
                <ee:message />
                <ee:variables>
                    <ee:set-variable variableName="claimData"><![CDATA[%dw 2.0
output application/json
---
vars.claimData ++  payload]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
        </foreach>
        <ee:transform doc:name="Transform Message" doc:id="8156675a-d31e-4424-aab5-03de4987691c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.claimData]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="97e1c9ed-55d4-48d2-9ea7-56909b6eec44" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\claims:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="870eee9e-7ade-45c2-a7a0-c9eb7570ca46">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "Claims"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="d2d9af59-7dc6-4ee8-aaae-c4b4817e01f0" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="3ddeaf25-2836-466e-a917-efe1a2f24f96" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\contacts:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="3d313734-7908-4f83-8164-c5718896c070">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "Contact"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="2d39416b-b33f-4813-8e11-8168007e59b9" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="76519c97-5c1b-48e6-a9a5-3606834b87f8" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\contingency:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},   
	"collection" : "Contingency"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="f4cfc00f-61da-4aa9-8198-992ac4a0958d" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="08e1fbea-9a05-438e-bf8b-80e2ab1328b7" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\documents:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "Document"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="c6f8c31d-9a73-4869-b7a5-1247254f257e" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="45851b13-9bd8-4742-8220-0e536b100ce7" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\documents:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Document"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="9894e6ea-ad25-49d6-b038-37b0b296d385" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="40d4eac3-4c69-4ffe-9ea1-2b2753bed519" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\dwelling-incidents:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="da41339e-cada-4047-8d3f-830203bfe633">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "DwellingIncident"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="6e264697-be2d-4803-a63f-fcc632cf7a58" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="8aa8019e-28d5-4b17-b97a-967477d82a8a" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\exposures:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="8118133d-9063-419d-ab90-3dd1709629d3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "Exposure"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="5b17c666-f87d-4c3b-a868-377b768faad6" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="8beb4421-1e2f-457d-8878-b1cca747441c" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\fixedproperty-incidents:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="a4024f4f-ded8-4d59-afe7-cd407c048212">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "FixedPropertyIncident"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="a7f795d6-9279-40e9-81f8-e02284a3bac6" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="f8b46517-e863-4bfc-ada6-e02aae3191f6" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\injury-incidents:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="8a674c85-b579-4725-bbc0-d90931a5aaa8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "Injury-Incidents"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="6a1225c7-8321-4e1b-9182-b8bf7cbfe1ac" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="f4c22b33-9c44-4f05-bdbc-f843274d683d" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\notes:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "Note"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="dc39ccd3-40ae-4a16-9dbb-52f1c13ab48a" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="a361f849-14a9-4674-8e32-dd26e76042ad" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\notes:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Note"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="e9ffb764-1beb-4068-86e2-d7f3c761a14e" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="661b6323-a41d-4263-af47-863636f9dd0c" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\notes:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="d60fe4ef-043a-43e1-981f-ca26d0a97c6c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "Note"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="621ff463-cabe-44aa-8a7c-7e49dad1c62b" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="88ad161a-95e1-44e2-a7e7-c27e900417bf" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\paymentInfo:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "Payment"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="dc1e006c-3c85-49ab-b504-49195d1b930a" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="23a3a9a5-91d2-4fa8-a3ac-7af541c9571b" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\payments:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="be82efd7-b9a8-4199-be3c-bac3170fdae0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "Claim-Payment"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="ebf9c734-d720-4742-9bbf-e86ee5c97dd1" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="bbce0041-bdab-4302-9f36-2fc5dc1fbcc7" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\policies:guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Policy"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="1d686e33-1457-43bb-87e0-7d1b536b8375" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="748baf19-6d49-42e6-8586-79900c3dd23a" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\policy\coverages:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="5025b6dc-2ce2-48ef-93e2-a04c09a31e0e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.claimid
	},
	"collection" : "Claims"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="50f7c5ac-c51a-480d-bf64-bce84a2cb4ed" name="mongodb-implementationFlow" />
        <ee:transform doc:name="Transform Message" doc:id="0599dca7-7c79-43f7-90ad-65987ec98aec">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : payload.Policy_id[0]
	},
	"collection" : "PolicyCoverages"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="3a41a5b5-65bc-4182-858b-ea7cf671cc42" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="d716a296-c76d-486c-9724-456fdc0ab103" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid)\servicerequest:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="8cf6d28e-4748-424d-a99f-894aaaf2544d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "ServiceRequest"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="0abdff3c-34bd-4beb-ae92-937948b8478b" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="dea3ad4e-5c81-4cec-a72b-f8122d466307" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId):guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Account"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="dd73ae89-ed6c-4b91-90aa-3235c6b6f2dc" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="b269874a-2dfe-4e74-920f-e9a1d316c831" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\claims\(claimid):guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="73bd3672-1162-45a2-89ac-c87dbab12cbe">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Claim_id" : attributes.uriParams.'claimid'
	},
	"collection" : "Claims"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="d142966f-c94f-4814-b729-247b486e41b0" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="637b73da-b044-4417-8f6b-461f31bc1c96" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\contacts\(contactId):guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="f1f48e26-c6e0-4a4a-8498-63d67ef7f6ff">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Contact_id" : attributes.uriParams.contactId
		},
	"collection" : "Contact"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="5324d6bb-c497-482c-83f2-327a01e39181" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="8192dff5-9af9-4214-b70c-b3b3e12c5dc7" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\policies\(policyId):guidewire-sys-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
	},
	"collection" : "Policy"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="f538f16d-8910-4e01-b23a-c8501f0aaac0" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="6cfea0c1-3a5b-4047-86d9-60e32958da79" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance\accounts\(accountId)\contacts:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="231d7f19-7e41-4715-b044-bbc567b9d1ad">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : attributes.uriParams.accountId
	},
	"collection" : "Contact"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="990daaa2-b21a-4e44-a120-934cd59d032b" name="mongodb-implementationFlow" />
        <logger level="INFO" doc:name="Logger" doc:id="964ae555-1be4-4f5f-8fec-8da5ab1c77ea" message="#[payload]" />
    
    </flow>
    <flow name="get:\Insurance\policies\(policyId)\contacts:guidewire-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="8ba38414-4ad2-4273-aa0d-130173ba3e45">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Policy_id" : attributes.uriParams.policyId
			},
	"collection" : "Policy"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="f72ab363-050a-4137-adcb-33a81bbd5380" name="mongodb-implementationFlow" />
        <ee:transform doc:name="Transform Message" doc:id="6d0490eb-9c7d-439d-aaa2-281dc53a8ed1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"query" : {
		"Account_id" : payload.Account_id[0]
			},
	"collection" : "Contact"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="cbc7fbdd-3858-42b7-8e11-a8b63d02d9ca" name="mongodb-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="fe121201-38b7-449b-b399-77db5b05c45b" message="#[payload]" />
    
    </flow>
</mule>
