guidewire360-system-api/src/main/mule/mongodb-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="mongodb-implementationFlow" doc:id="8c44b426-b163-417c-9e42-c098ccc3b7e0" >
		<ee:transform doc:name="Transform Message" doc:id="6d279b5d-13c6-4065-914a-149d39e0c17c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputData" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<mongo:find-documents collectionName="#[payload.collection]" fields="," doc:name="Find documents" doc:id="cecb47e1-f0ae-4d74-9a6b-54cbc037cd43" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[payload.query]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="0ef3fcd2-00af-4561-ab50-131afbc02811" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map({
    ((({"Mon_id" : $."_id"."\$oid"}) ++ ($)) - "_id")
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
