insurance-claim-management-sys-api/src/main/mule/contact-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get:\Insurance\claims\contacts\(loginId):insurance-management-claim-system-api-config">
        <ee:transform doc:name="vars.loginId">
            <ee:variables>
                <ee:set-variable variableName="loginId">attributes.uriParams.'loginId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="query to get contacts" doc:id="ac9130ea-c5ef-4515-b569-52d0d39466f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
var filedata = readUrl("classpath://mapping-files/contact.json", "application/json")
---
"Select " ++ joinBy (filedata[0].Fields.fieldslist ,",") ++ " from " ++ filedata[0].objectName ++ " where LoginID__c ='" ++ vars.loginId ++ "'"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="select by loginId" doc:id="11b082b1-f762-47ee-820a-6170a2eacd4e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
</mule>
