guidewire360-claims-sysapi/src/main/mule/claims-implementtion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="claims-implementtionFlow" doc:id="f98bc1d9-12fd-47d3-a251-b8d9a46925a5" >
		<ee:transform doc:name="Transform Message" doc:id="b27f56e8-d853-4167-b945-5a0a81c9ec9c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="mongodbInput" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<mongo:find-documents collectionName="#[payload.collection]" fields="," doc:name="Find documents" doc:id="05067156-1155-4fa5-9c25-e0dfea60f3e6" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[payload.query]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="f9748d95-9157-4769-bf34-bcd8f5fca5f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map({
    ((({"Mon_id" : $."_id"."\$oid"}) ++ ($)) - "_id")
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
