insurance-sys-api/src/main/mule/claimActivity-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="get:\Insurance-360\claim\v1\claims\(claimId)\ClaimActivities:insurance-360-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="claimId">attributes.uriParams.'claimId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="57d70e3f-57ad-4c03-bd1b-51991085707e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ "ClaimActivities.claimId": vars.claimId }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents collectionName="ClaimActivities" fields="," doc:name="Find documents" doc:id="ddce0030-f447-4e12-ad31-c0fb5e697e14" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="ab8d7a17-fcfd-4b83-a5a5-232d9167b1e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance-360\claim\v1\claims\(claimId)\ClaimActivityAssignees:insurance-360-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="claimId">attributes.uriParams.'claimId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="ae556a4b-a6aa-4617-935a-72ad7dfb904e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
"ClaimActivityAssignees.claimId" : vars.claimId
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents collectionName="ClaimActivityAssignees" fields="," doc:name="Find documents" doc:id="050ccc79-61bb-4af3-9b27-a16f9327dc4a" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="4f485045-a675-49ac-b030-62c94ee0bf35" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance-360\claim\v1\claims\(claimId)\ClaimActivityPatterns\Documents:insurance-360-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="claimId">attributes.uriParams.'claimId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="95b629c0-7d71-4d18-8b1c-33d77d3d5178" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Documnets.claimId" : vars.claimId
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents collectionName="claimDocumnets" doc:name="Find documents" doc:id="8dca8325-3200-40d8-8148-713d431f07ce" config-ref="MongoDB_Config" fields=",">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="26dd2ba1-f798-46c7-bbb7-1abb22fe9e97" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="#[payload]" />
    </flow>
    <flow name="get:\Insurance-360\claim\v1\claims\(claimId)\ClaimActivityPatterns\Notes:insurance-360-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="claimId">attributes.uriParams.'claimId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="5468fa84-eb8d-4c9d-83c8-9b9a83eb7221" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Notes.claimId" : vars.claimId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents collectionName="claimNotes" fields="," doc:name="Find documents" doc:id="9b7c6376-963c-4601-b020-f739a8889f36" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="606d0fe3-6756-4526-91e6-1a820f7d5389" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="#[payload]" />
    </flow>
	</mule>
