insurance-sys-api/src/main/mule/notes-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	 <flow name="get:\Insurance-360\policies\accounts\(accountId)\notes\noteauthor:insurance-360-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="50cc7ae6-536d-4c74-8c72-92bb469661be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"author.accountId" : vars.accountId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message='#["entering the documents"]' />
		<mongo:find-documents doc:name="Find documents" doc:id="ce0f2911-741c-4d6f-903b-6bff64a58e71" config-ref="MongoDB_Config" collectionName="notes-Author" fields=",">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="d6f7ee62-890f-48ed-9dbd-19f8ef278aa1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e0e8e664-0a38-47b1-9c81-68d123dec2a7" message="#[payload]"/>
    
</flow>
    <flow name="get:\Insurance-360\policies\accounts\(accountId)\notes\notepolicy:insurance-360-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="8724d11d-1dba-4413-b159-8037be7211bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"policy.accountId" : vars.accountId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="#[payload]" />
		<mongo:find-documents collectionName="notes-policy" fields="," doc:name="Find documents" doc:id="2719690c-a878-4366-b632-6fbdc40223c8" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="fcd68999-ea9d-4fe0-913d-1ec844090302" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f7e6a697-de44-41e6-b071-e87b503a2503" message="#[payload]"/>
    
</flow>
	</mule>
